
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

div.container {
padding: 10px 5px;
overflow: auto;
height: auto;
background-color: gray;
}

.document {
position: sticky;
top: 0px;
z-index: 1;


}

.container-child {
margin-left: 1px;
display: inline-block;
padding: 10px;
text-align: center;

}

.container-child a {
text-decoration: none;
color: black;
}

.container-child a:hover {
text-decoration: underline;
color: white;
}



@media only screen and (max-width:820px) {
div.container {
    background-color: black;
    padding-left: 80px;
    border: none;
    position: static;


}

.container-child {
    margin: 5px;
    width: 50%;
    border-bottom: 1px solid white;



}

.container-child a {
    color: white;
}
}

#about {
padding: 20px;
}

#about h1 {
color: red;
background-color: aliceblue;
text-align: center;

}

#about p {
line-height: 25px;
white-space: pre-line;
padding: 20px 40px;
color: red;
border-bottom-left-radius: 50px;
transition-property: color, padding, box-shadow, font-weight;
transition-duration: 0.88888s;
transition-timing-function: ease-in-out;

}

#about p::first-letter {
font-size: 50px;
font-style: italic;
text-shadow: 2px 2px 6px powderblue;
}

#about p:hover {
opacity: 0.8;
color: lightblue;
padding: 20px;
box-shadow: 930px 400px 500px black inset;
}


#Courese {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-evenly;
text-align: center;
font-weight: bold;
}

.item {
width: 400px;
height: 200px;
padding: 20px;
margin: 5px;
color: rgb(10, 45, 242);
background-color: rgba(240, 128, 128, 0.214);
transition-property: color, padding, box-shadow;
transition-duration: 0.8s;
transition-timing-function: ease-in;
}

.item:hover {
color: black;
padding: 40px;
box-shadow: 400px 0px 0px lightblue inset;
}

h6 {
color: red;
}

ul {
list-style-type: none;
}

#teacher {
overflow: auto;
margin: 5px;
}

.teacher-name {
text-align: center;
height: 300px;
width: 32%;
float: left;
margin: 8px;
transition-property: box-shadow, padding;
transition-duration: 0.5s;
transition-timing-function: ease-out;
}

.teacher-name:hover {
box-shadow: 100px 800px 0px green inset;
}

@media only screen and (max-width:900px) {
.teacher-name {
    width: 90%;


}
}
@media only screen and (max-width:819px) {
.teacher-name {
    width:80%;


}
}



img {
height: 300px;
width: 300px;
padding: 10px;
border-radius: 20px;
transition-property: padding;
transition-duration: 0.5s;
transition-timing-function: ease-out;
}

img:hover {
padding: 20px;

}

#Student {
overflow: auto;
padding: 10px;
}

.Top-student {
float: left;
width: 410px;
margin: 2px;
text-align: center;
}

img.student-class {
border: 1px solid black;
background: radial-gradient(circle, blue 50%, green 30%, yellow);
border-bottom-right-radius: 0px;
border-top-left-radius: 0px;

}

td,
table {
padding: 2px;

}

tr:hover {
background-color: darkturquoise;

}

.style {
padding-left: 60px;
}

@media only screen and (max-width:820px) {
#Student {
    text-align: center;
}

}

strong {
color: red;

}


#fone.span1 {
background-color: black;
font-weight: bold;
font-size: 20px;
padding: 14px;
height: 50px;
width: 50px;
position:fixed;
bottom: 100px;
right: 5px;
cursor: pointer;
z-index: 1;
border-radius: 50%;
transition-property: background-color;
transition-duration: 0.5s;
transition-timing-function: ease-in-out;


}

div a {
text-decoration-line: none;
text-align: center;
color:white;

}
div a:hover{
    color:red;
}
#fone.span1:hover {
background-color: teal;

}

strong#coaching::first-letter {
font-size: 50px;
font-style: italic;
text-shadow: 5px 5px 5px red;

}

.grid-container {
padding: 10px;
display: grid;
grid-column-gap: 10px;
grid-row-gap: 20px;
grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

}

.grid-item {
height: auto;
padding: 5px;
margin: auto;

}

table.feesCourse,
th {
border-collapse: collapse;
border: 1px solid black;

}

th {
text-align: center;
border-right: 1px solid black;
padding: 1px;
color: black;
font-weight: normal;
vertical-align: center;
height: 50px;
}

table.feesCourse tr:hover {
background-color: green;


}

@media only screen and (max-width:819px) {
.grid-container {
    width: 100%;
}
}


